# COGS 189 - Final Project

How to set up this file...
You need to download the HUGE .mat files to be able to unpack the four 'cnt' files which are in the zipped up .mat files. The rest of the csv files can also found in this google drive. You will need all of these files in order to access all the data in this file. 

Note: The .mat files take a while to download, they can only be found in the google drive. I could not upload them to github because they were too large.

Note: When you drop the csv files in do not put them in seperate folders, unless you want to do unnecessary coding. In fact all files should be freely in place of the same folder as this jupyter notebook. 

Note: You will also want to read the PDF to understand what all this data means...(Something i still need to do)

THINGS THAT NEED TO BE DONE NEXT
    1.) The data has been untangled, it now needs to be placed back into a workable order.
    2.) The data needs to be cleaned (not sure what exactly this means, but we'll figure that out)
    3.) We need to get a summary and report of the PDF (again, its in the google drive)
    
       Lets try to get those 1 done by tomorrow, 2 done by saturday, and 3 done by sunday,
       Then, we can spend last 5 days on analysis

https://drive.google.com/drive/u/1/folders/1v7q29_rTfX2qLDxwuj7V3H4Nv60mg_67

### Imports

In [207]:
import scipy.io
import pandas as pd
import numpy as np

##### This is an explantion of how the files were organized, the actual names in here are identical to the real name to call the data

In [208]:
# Organization of files is like this...

# data_set_IVa_av
    # cnt
        # data_set_IVa_av_cnt
    # mrk
        # data_set_IVa_aw_mrk_pos
        # data_set_IVa_aw_mrk_className
        # data_set_IVa_aw_mrk_y
    # nfo
        # data_set_IVa_aw_nfo_clab
        # data_set_IVa_aw_nfo_ypos
        # data_set_IVa_aw_nfo_xpos
    

# data_set_IVa_al
    #cnt
        # data_set_IVa_al_cnt
    # nfo
        # data_set_IVa_al_nfo_clab
        # data_set_IVa_al_nfo_ypos
        # data_set_IVa_al_nfo_xpos
    # mrk
        # data_set_IVa_al_mrk_pos
        # data_set_IVa_al_mrk_className
        # data_set_IVa_al_mrk_y

# data_set_IVa_aw
    #cnt
        # data_set_IVa_aw_cnt
    # nfo
        # data_set_IVa_av_nfo_clab
        # data_set_IVa_av_nfo_ypos
        # data_set_IVa_av_nfo_xpos
    # mrk
        # data_set_IVa_av_mrk_pos
        # data_set_IVa_av_mrk_className
        # data_set_IVa_av_mrk_y

        
# data_set_IVa_aa
    # cnt
        # data_set_IVa_aa_cnt
    # clab
        # data_set_IVa_aa_nfo_clab
        # data_set_IVa_aa_nfo_ypos
        # data_set_IVa_aa_nfo_xpos
    # mrk
        # data_set_IVa_aa_mrk_pos
        # data_set_IVa_aa_mrk_className
        # data_set_IVa_aa_mrk_y

### Import Files

This is the .mat files

In [209]:
data_set_IVa_aw = scipy.io.loadmat('data_set_IVa_aw.mat')
data_set_IVa_av = scipy.io.loadmat('data_set_IVa_av.mat')
data_set_IVa_al = scipy.io.loadmat('data_set_IVa_al.mat')
data_set_IVa_aa = scipy.io.loadmat('data_set_IVa_aa.mat')

This is the same data from the mat file but just broken into individual csv file, EXCLUDING the 'cnt' files

In [210]:
# # Dataset_IVa_aw

# Data from within mrk from data_set_IVa_aw
data_set_IVa_aw_mrk_pos=pd.read_csv("data_set_IVa_aw_mrk_pos.csv")
data_set_IVa_aw_mrk_className=pd.read_csv("data_set_IVa_aw_mrk_className.csv")
data_set_IVa_aw_mrk_y=pd.read_csv("data_set_IVa_aw_mrk_y.csv")
# Data from within nfo from data_set_IVa_aw
data_set_IVa_aw_nfo_clab=pd.read_csv("data_set_IVa_aw_nfo_clab.csv")
data_set_IVa_aw_nfo_ypos=pd.read_csv("data_set_IVa_aw_nfo_ypos.csv")
data_set_IVa_aw_nfo_xpos=pd.read_csv("data_set_IVa_aw_nfo_xpos.csv")

# # Dataset_IVa_al

# Data from within nfo from data_set_IVa_al
data_set_IVa_al_nfo_clab=pd.read_csv("data_set_IVa_al_nfo_clab.csv")
data_set_IVa_al_nfo_ypos=pd.read_csv("data_set_IVa_al_nfo_ypos.csv")
data_set_IVa_al_nfo_xpos=pd.read_csv("data_set_IVa_al_nfo_xpos.csv")
# Data from within mrk from data_set_IVa_al
data_set_IVa_al_mrk_pos=pd.read_csv("data_set_IVa_al_mrk_pos.csv")
data_set_IVa_al_mrk_className=pd.read_csv("data_set_IVa_al_mrk_className.csv")
data_set_IVa_al_mrk_y=pd.read_csv("data_set_IVa_al_mrk_y.csv")

# # Dataset_IVa_av

# Data from within nfo from data_set_IVa_av
data_set_IVa_av_nfo_clab=pd.read_csv("data_set_IVa_av_nfo_clab.csv")
data_set_IVa_av_nfo_ypos=pd.read_csv("data_set_IVa_av_nfo_ypos.csv")
data_set_IVa_av_nfo_xpos=pd.read_csv("data_set_IVa_av_nfo_xpos.csv")
# Data from within mrk from data_set_IVa_av
data_set_IVa_av_mrk_pos=pd.read_csv("data_set_IVa_av_mrk_pos.csv")
data_set_IVa_av_mrk_className=pd.read_csv("data_set_IVa_av_mrk_className.csv")
data_set_IVa_av_mrk_y=pd.read_csv("data_set_IVa_av_mrk_y.csv")

# Dataset_IVa_aa

# Data from within nfo from data_set_IVa_aa
data_set_IVa_aa_nfo_clab=pd.read_csv("data_set_IVa_aa_nfo_clab.csv")
data_set_IVa_aa_nfo_ypos=pd.read_csv("data_set_IVa_aa_nfo_ypos.csv")
data_set_IVa_aa_nfo_xpos=pd.read_csv("data_set_IVa_aa_nfo_xpos.csv")
# Data from within mrk from data_set_IVa_aa
data_set_IVa_aa_mrk_pos=pd.read_csv("data_set_IVa_aa_mrk_pos.csv")
data_set_IVa_aa_mrk_className=pd.read_csv("data_set_IVa_aa_mrk_className.csv")
data_set_IVa_aa_mrk_y=pd.read_csv("data_set_IVa_aa_mrk_y.csv")

### Explore the Data

This Dataset was a huge dictionary that had many arrays nested inside of it. The 'cnt' file was really big so I left it in the .mat file and just pulled it out directly and created a dataframe from it. Because the other information was tangled up in the dictionary, I created csv files of all the data from matlab and exported it so all the information would be untangled. However now we have to put it all back together in order to figure out how it was supposed to be organized

In [211]:
data_set_IVa_aa.keys()

dict_keys(['__header__', '__version__', '__globals__', 'cnt', 'nfo', 'mrk'])

In [212]:
data_set_IVa_aa['__header__']

b'MATLAB 5.0 MAT-file, Platform: GLNX86, Created on: Mon Dec  6 15:04:42 2004'

In [213]:
data_set_IVa_aa['__version__']

'1.0'

In [214]:
data_set_IVa_aa['__globals__']

[]

In [215]:
data_set_IVa_aa['cnt']

array([[ 1881,  1331,   699, ...,  3338,  3431,  3065],
       [ 1895,   754,   719, ...,  3377,  3471,  3099],
       [ 1930,   782,   771, ...,  3387,  3486,  3116],
       ...,
       [  172, -1174,  -334, ...,  -369,  -490,  -502],
       [  114, -1639,  -406, ...,  -426,  -549,  -566],
       [   91, -2452,  -438, ...,  -444,  -572,  -592]], dtype=int16)

In [216]:
np.shape(data_set_IVa_aa['cnt'])

(2984598, 118)

In [217]:
aa_cnt = data_set_IVa_aa['cnt']
# convert numpy array to dataframe 
data_set_IVa_aa_cnt  = pd.DataFrame(aa_cnt) 

aw_cnt = data_set_IVa_aw['cnt']
# convert numpy array to dataframe 
data_set_IVa_aw_cnt  = pd.DataFrame(aw_cnt) 

al_cnt = data_set_IVa_al['cnt']
# convert numpy array to dataframe 
data_set_IVa_al_cnt  = pd.DataFrame(al_cnt) 

av_cnt = data_set_IVa_av['cnt']
# convert numpy array to dataframe 
data_set_IVa_av_cnt  = pd.DataFrame(av_cnt)

In [218]:
data_set_IVa_aa_cnt

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,114,115,116,117
0,1881,1331,699,2522,3024,2713,2545,2665,2705,2643,...,3319,3161,3216,3521,3391,3228,2787,3338,3431,3065
1,1895,754,719,2534,3045,2737,2564,2682,2726,2664,...,3343,3189,3239,3554,3418,3253,2835,3377,3471,3099
2,1930,782,771,2576,3098,2782,2606,2732,2778,2699,...,3349,3187,3241,3557,3416,3257,2841,3387,3486,3116
3,1951,1305,811,2603,3140,2795,2618,2759,2816,2710,...,3316,3140,3203,3509,3367,3213,2788,3346,3451,3080
4,1946,1913,815,2597,3140,2762,2597,2749,2811,2683,...,3269,3091,3153,3454,3317,3156,2730,3300,3395,3014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984593,222,-809,-277,-67,209,301,-561,-650,1,-544,...,-174,-623,-531,-173,-221,-540,-769,-318,-468,-460
2984594,217,-987,-286,-83,197,251,-561,-663,-17,-519,...,-173,-620,-530,-168,-214,-531,-765,-313,-455,-452
2984595,172,-1174,-334,-135,142,161,-600,-729,-92,-539,...,-221,-661,-571,-201,-245,-583,-799,-369,-490,-502
2984596,114,-1639,-406,-204,85,89,-655,-843,-177,-575,...,-278,-718,-630,-255,-301,-648,-850,-426,-549,-566
2984597,91,-2452,-438,-243,81,80,-687,-943,-205,-581,...,-299,-738,-652,-285,-329,-667,-875,-444,-572,-592

In [219]:
data_set_IVa_aw_cnt

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,114,115,116,117
0,388,90,75,314,703,-63,-53,365,761,342,...,171,255,428,592,791,198,-403,371,400,491
1,457,177,151,403,779,-21,24,495,901,401,...,248,307,490,620,841,259,-359,424,422,512
2,490,217,206,447,857,-7,63,519,1008,435,...,271,324,505,623,848,278,-353,430,419,478
3,404,111,120,303,719,-66,-33,276,701,366,...,195,242,414,540,764,202,-442,341,336,378
4,294,-15,9,184,611,-157,-156,104,517,262,...,120,160,337,464,683,126,-519,271,254,289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2828393,-1883,-2126,-1742,-1436,-1039,-1911,-2188,-1590,-572,-1686,...,-1273,-1388,-1489,-1091,-1272,-1128,-1131,-1045,-1197,-1087
2828394,-1792,-2081,-1683,-1372,-896,-1714,-2149,-1538,-187,-1633,...,-1199,-1561,-1628,-1294,-1457,-1265,-1361,-1213,-1474,-1222
2828395,-1640,-1932,-1547,-1205,-734,-1522,-2001,-1289,47,-1496,...,-1035,-1488,-1519,-1236,-1350,-1108,-1269,-1051,-1433,-1016
2828396,-1564,-1857,-1495,-1150,-746,-1399,-1907,-1218,-223,-1397,...,-1037,-1417,-1455,-1160,-1278,-1046,-1191,-996,-1336,-963
2828397,-1640,-1944,-1593,-1293,-1005,-1424,-1971,-1440,-952,-1426,...,-1244,-1504,-1590,-1224,-1397,-1224,-1266,-1181,-1322,-1205

In [220]:
data_set_IVa_al_cnt

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,114,115,116,117
0,-249,-256,-416,-314,422,-631,-686,-349,438,-79,...,275,-280,-72,-175,-127,390,-766,2,-335,229
1,-286,-283,-441,-340,409,-661,-720,-369,415,-100,...,361,-219,14,-105,-32,469,-680,93,-249,324
2,-312,-299,-459,-363,382,-679,-747,-385,389,-119,...,409,-167,69,-72,17,515,-642,143,-207,372
3,-294,-279,-456,-348,382,-665,-732,-377,401,-105,...,427,-151,75,-82,25,532,-645,152,-217,388
4,-236,-226,-417,-296,424,-616,-680,-339,447,-57,...,422,-172,42,-119,6,526,-669,136,-257,384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2835753,2572,1005,1562,505,2222,1437,91,-1379,809,655,...,-175,-663,-576,-746,-469,-436,-1441,-387,-1773,-314
2835754,2584,1016,1581,518,2236,1459,111,-1366,829,673,...,-144,-665,-576,-763,-490,-430,-1466,-400,-1802,-311
2835755,2639,1079,1632,555,2272,1507,171,-1319,882,729,...,-141,-691,-600,-789,-515,-438,-1503,-434,-1848,-342
2835756,2669,1110,1657,568,2275,1525,199,-1294,897,754,...,-152,-707,-615,-807,-531,-450,-1524,-461,-1878,-401
2835757,2657,1097,1636,560,2241,1524,189,-1301,870,747,...,-150,-699,-608,-801,-538,-457,-1525,-460,-1864,-440

In [221]:
data_set_IVa_av_cnt

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,114,115,116,117
0,754,531,201,234,569,1221,487,218,-265,890,...,1463,1220,969,1273,1248,1085,735,1617,926,1187
1,745,519,191,222,552,1200,471,201,-290,871,...,1467,1250,983,1290,1273,1095,756,1632,952,1199
2,747,527,203,240,560,1214,487,221,-259,883,...,1456,1252,965,1271,1269,1085,742,1629,951,1191
3,760,552,222,275,594,1240,524,253,-221,919,...,1451,1252,948,1250,1263,1071,728,1628,941,1185
4,783,586,240,305,625,1271,564,288,-213,962,...,1452,1261,951,1257,1272,1069,733,1641,945,1190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2830433,1391,1258,1086,825,1216,1406,516,1224,1067,857,...,-1012,1433,-2216,690,-9394,-1280,-3954,-3244,-556,-87
2830434,1441,1309,1126,865,1255,1458,575,1274,1132,914,...,-760,1594,-2030,843,-9213,-1078,-3795,-3078,-409,103
2830435,1477,1329,1153,874,1284,1496,596,1287,1214,937,...,-677,1687,-1942,941,-9106,-984,-3705,-2993,-322,202
2830436,1436,1268,1110,803,1230,1451,522,1204,1179,869,...,-919,1596,-2080,868,-9186,-1127,-3781,-3093,-391,97
2830437,1392,1227,1066,756,1182,1407,479,1143,1078,828,...,-1189,1497,-2239,786,-9279,-1286,-3863,-3198,-459,-17

### Data_SET_IVa_aw

In [222]:
# clab
data_set_IVa_aw_nfo_clab

Empty DataFrame
Columns: [Fp1', AFp1', Fpz', AFp2', Fp2', AF7', AF3', AF4', AF8', FAF5', FAF1', FAF2', FAF6', F7', F5', F3', F1', Fz', F2', F4', F6', F8', FFC7', FFC5', FFC3', FFC1', FFC2', FFC4', FFC6', FFC8', FT9', FT7', FC5', FC3', FC1', FCz', FC2', FC4', FC6', FT8', FT10', CFC7', CFC5', CFC3', CFC1', CFC2', CFC4', CFC6', CFC8', T7', C5', C3', C1', Cz', C2', C4', C6', T8', CCP7', CCP5', CCP3', CCP1', CCP2', CCP4', CCP6', CCP8', TP9', TP7', CP5', CP3', CP1', CPz', CP2', CP4', CP6', TP8', TP10', PCP7', PCP5', PCP3', PCP1', PCP2', PCP4', PCP6', PCP8', P9', P7', P5', P3', P1', Pz', P2', P4', P6', P8', P10', PPO7', PPO5', PPO1', PPO2', ...]
Index: []

[0 rows x 118 columns]

In [223]:
# ypos
np.shape(data_set_IVa_aw_nfo_ypos)

(117, 1)

In [224]:
data_set_IVa_aw_nfo_ypos[:5]

   0.7544502157
0      0.685270
1      0.769231
2      0.685270
3      0.754450
4      0.710677

In [225]:
# xpos
np.shape(data_set_IVa_aw_nfo_xpos)

(117, 1)

In [226]:
data_set_IVa_aw_nfo_xpos[:5]

   -0.1500694785
0      -0.075729
1       0.000000
2       0.075729
3       0.150069
4      -0.294372

In [227]:
# pos
data_set_IVa_aw_mrk_pos

Empty DataFrame
Columns: [51252, 57076, 62654, 73960, 79363, 85010, 90444, 95973, 101478, 129694, 135521, 140900, 146249, 151957, 157688, 174351, 185515, 211973, 217685, 228658, 239961, 251027, 256707, 262168, 267867, 278920, 284478, 301011, 306826, 312473, 317846, 329211, 334950, 340695, 372968, 378525, 384169, 389549, 400602, 406069, 411569, 422869, 428467, 434264, 445446, 462158, 473393, 484546, 489953, 506772, 533437, 538843, 549717, 566296, 577681, 583210, 588796, 600359, 605908, 611724, 622788, 628373, 639487, 645076, 650827, 656260, 661787, 672660, 678407, 695232, 761108, 766487, 772319, 783652, 789449, 794797, 800292, 806122, 817155, 822743, 828448, 839672, 845230, 851026, 856384, 862089, 878808, 884397, 890074, 922508, 928091, 939093, 944651, 972584, 978264, 989827, 995172, 1000670, 1006287, 1011790, ...]
Index: []

[0 rows x 280 columns]

In [170]:
# className
data_set_IVa_aw_mrk_className

Empty DataFrame
Columns: [right', foot']
Index: []

In [171]:
# y
data_set_IVa_aw_mrk_y

Empty DataFrame
Columns: [1, 1.1, 2, 1.2, 2.1, 2.2, 1.3, 1.4, 2.3, 1.5, 1.6, 2.4, 1.7, 2.5, 1.8, 1.9, 1.10, 1.11, 1.12, 2.6, 1.13, 1.14, 1.15, 1.16, 1.17, 2.7, 2.8, 1.18, 1.19, 1.20, 1.21, 2.9, 1.22, 2.10, 2.11, 1.23, 2.12, 2.13, 2.14, 2.15, 1.24, 2.16, 2.17, 2.18, 1.25, 1.26, 1.27, 2.19, 2.20, 1.28, 2.21, 2.22, 2.23, 2.24, 2.25, 1.29, NaN, NaN.1, NaN.2, NaN.3, NaN.4, NaN.5, NaN.6, NaN.7, NaN.8, NaN.9, NaN.10, NaN.11, NaN.12, NaN.13, NaN.14, NaN.15, NaN.16, NaN.17, NaN.18, NaN.19, NaN.20, NaN.21, NaN.22, NaN.23, NaN.24, NaN.25, NaN.26, NaN.27, NaN.28, NaN.29, NaN.30, NaN.31, NaN.32, NaN.33, NaN.34, NaN.35, NaN.36, NaN.37, NaN.38, NaN.39, NaN.40, NaN.41, NaN.42, NaN.43, ...]
Index: []

[0 rows x 280 columns]

### data_set_IVa_al

In [172]:
# clab
data_set_IVa_al_nfo_clab

Empty DataFrame
Columns: [Fp1', AFp1', Fpz', AFp2', Fp2', AF7', AF3', AF4', AF8', FAF5', FAF1', FAF2', FAF6', F7', F5', F3', F1', Fz', F2', F4', F6', F8', FFC7', FFC5', FFC3', FFC1', FFC2', FFC4', FFC6', FFC8', FT9', FT7', FC5', FC3', FC1', FCz', FC2', FC4', FC6', FT8', FT10', CFC7', CFC5', CFC3', CFC1', CFC2', CFC4', CFC6', CFC8', T7', C5', C3', C1', Cz', C2', C4', C6', T8', CCP7', CCP5', CCP3', CCP1', CCP2', CCP4', CCP6', CCP8', TP9', TP7', CP5', CP3', CP1', CPz', CP2', CP4', CP6', TP8', TP10', PCP7', PCP5', PCP3', PCP1', PCP2', PCP4', PCP6', PCP8', P9', P7', P5', P3', P1', Pz', P2', P4', P6', P8', P10', PPO7', PPO5', PPO1', PPO2', ...]
Index: []

[0 rows x 118 columns]

In [175]:
# y pos
np.shape(data_set_IVa_al_nfo_ypos)

(117, 1)

In [176]:
data_set_IVa_al_nfo_ypos[:5]

   0.7544502157
0      0.685270
1      0.769231
2      0.685270
3      0.754450
4      0.710677

In [177]:
# x pos
np.shape(data_set_IVa_al_nfo_xpos)

(117, 1)

In [178]:
data_set_IVa_al_nfo_xpos[:5]

   -0.1500694785
0      -0.075729
1       0.000000
2       0.075729
3       0.150069
4      -0.294372

In [179]:
# pos
data_set_IVa_al_mrk_pos

Empty DataFrame
Columns: [51707, 57471, 73850, 90823, 96230, 101828, 107625, 124475, 130055, 135469, 146490, 152207, 157733, 168728, 174496, 185609, 218160, 223633, 251213, 256620, 273197, 278545, 284250, 289869, 295334, 300867, 306208, 312005, 317783, 323261, 328886, 339941, 345437, 372195, 377958, 383574, 389402, 400547, 406313, 428832, 439925, 445512, 451167, 467689, 473280, 489508, 495074, 500631, 506007, 532880, 538286, 549311, 554749, 566042, 571749, 577306, 599451, 605106, 610445, 616213, 621961, 627638, 633196, 638570, 644323, 649756, 660659, 666180, 683238, 689004, 761927, 784112, 789879, 795648, 806968, 812650, 817994, 829005, 834355, 862081, 873402, 889983, 895479, 922081, 939363, 950647, 961436, 966957, 978072, 994872, 1000492, 1006076, 1011482, 1017070, 1034174, 1045586, 1051211, 1056860, 1083313, 1094275, ...]
Index: []

[0 rows x 280 columns]

In [180]:
# className
data_set_IVa_al_mrk_className

Empty DataFrame
Columns: [right', foot']
Index: []

In [181]:
# y
data_set_IVa_al_mrk_y

Empty DataFrame
Columns: [1, 1.1, 2, 1.2, 1.3, 1.4, 2.1, 2.2, 1.5, 2.3, 2.4, 1.6, 2.5, 2.6, 1.7, 2.7, 1.8, 2.8, 2.9, 1.9, 1.10, 1.11, 1.12, 2.10, 2.11, 1.13, 2.12, 2.13, 1.14, 2.14, 2.15, 2.16, 1.15, 1.16, 1.17, 2.17, 1.18, 2.18, 1.19, 1.20, 1.21, 2.19, 2.20, 2.21, 2.22, 2.23, 1.22, 1.23, 1.24, 1.25, 2.24, 2.25, 2.26, 1.26, 1.27, 1.28, 1.29, 2.27, 2.28, 1.30, 2.29, 2.30, 2.31, 2.32, 1.31, 1.32, 1.33, 2.33, 1.34, 2.34, 2.35, 2.36, 2.37, 2.38, 1.35, 1.36, 1.37, 2.39, 2.40, 2.41, 2.42, 1.38, 2.43, 1.39, 1.40, 2.44, 1.41, 2.45, 1.42, 2.46, 2.47, 2.48, 2.49, 1.43, 2.50, 1.44, 2.51, 2.52, 2.53, 1.45, ...]
Index: []

[0 rows x 280 columns]

### data_set_IVa_av

In [182]:
data_set_IVa_av_nfo_clab

Empty DataFrame
Columns: [Fp1', AFp1', Fpz', AFp2', Fp2', AF7', AF3', AF4', AF8', FAF5', FAF1', FAF2', FAF6', F7', F5', F3', F1', Fz', F2', F4', F6', F8', FFC7', FFC5', FFC3', FFC1', FFC2', FFC4', FFC6', FFC8', FT9', FT7', FC5', FC3', FC1', FCz', FC2', FC4', FC6', FT8', FT10', CFC7', CFC5', CFC3', CFC1', CFC2', CFC4', CFC6', CFC8', T7', C5', C3', C1', Cz', C2', C4', C6', T8', CCP7', CCP5', CCP3', CCP1', CCP2', CCP4', CCP6', CCP8', TP9', TP7', CP5', CP3', CP1', CPz', CP2', CP4', CP6', TP8', TP10', PCP7', PCP5', PCP3', PCP1', PCP2', PCP4', PCP6', PCP8', P9', P7', P5', P3', P1', Pz', P2', P4', P6', P8', P10', PPO7', PPO5', PPO1', PPO2', ...]
Index: []

[0 rows x 118 columns]

In [183]:
np.shape(data_set_IVa_av_nfo_ypos)

(117, 1)

In [184]:
data_set_IVa_av_nfo_ypos[:5]

   0.7544502157
0      0.685270
1      0.769231
2      0.685270
3      0.754450
4      0.710677

In [185]:
np.shape(data_set_IVa_av_nfo_xpos)

(117, 1)

In [186]:
data_set_IVa_av_nfo_xpos[:5]

   -0.1500694785
0      -0.075729
1       0.000000
2       0.075729
3       0.150069
4      -0.294372

In [187]:
data_set_IVa_av_mrk_pos

Empty DataFrame
Columns: [48866, 54538, 65923, 71739, 99413, 110767, 116586, 122011, 138833, 155263, 166268, 171973, 177441, 183229, 221068, 226863, 232350, 243473, 248886, 259892, 265591, 287838, 293466, 298928, 304749, 321528, 327199, 332604, 337941, 369880, 375244, 381007, 391788, 397484, 408558, 419409, 425199, 430964, 436421, 442030, 447426, 453073, 458560, 464239, 470002, 487155, 492560, 498327, 503756, 530470, 536135, 541862, 547379, 564142, 569565, 574905, 580631, 586207, 591635, 602406, 607964, 618879, 624679, 635599, 641084, 646513, 652311, 663493, 680140, 685570, 756443, 762005, 767824, 784475, 795628, 807203, 812538, 818266, 829809, 835605, 841034, 846702, 857986, 863601, 869240, 874584, 880401, 891856, 918489, 924157, 935281, 946441, 957298, 962814, 968302, 979845, 985305, 990641, 995975, 1007280, ...]
Index: []

[0 rows x 280 columns]

In [188]:
data_set_IVa_av_mrk_className

Empty DataFrame
Columns: [right', foot']
Index: []

In [190]:
data_set_IVa_av_mrk_y

Empty DataFrame
Columns: [1, 1.1, 1.2, 2, 1.3, 2.1, 1.4, 2.2, 2.3, 2.4, 2.5, 1.5, 1.6, 2.6, 2.7, 1.7, 1.8, 1.9, 1.10, 2.8, 2.9, 1.11, 1.12, 2.10, 2.11, 2.12, 2.13, 1.13, 2.14, 2.15, 2.16, 1.14, 1.15, 1.16, 2.17, 1.17, 1.18, 1.19, 1.20, 1.21, 2.18, 2.19, 1.22, 1.23, 2.20, 1.24, 1.25, 1.26, 2.21, 2.22, 1.27, 2.23, 2.24, 2.25, 1.28, 2.26, 1.29, 1.30, 1.31, 2.27, 2.28, 1.32, 2.29, 2.30, 2.31, 2.32, 1.33, 2.33, 1.34, 2.34, 1.35, 1.36, 2.35, 1.37, 1.38, 2.36, 1.39, 2.37, 2.38, 2.39, 2.40, 2.41, 1.40, 1.41, NaN, NaN.1, NaN.2, NaN.3, NaN.4, NaN.5, NaN.6, NaN.7, NaN.8, NaN.9, NaN.10, NaN.11, NaN.12, NaN.13, NaN.14, NaN.15, ...]
Index: []

[0 rows x 280 columns]

### data_set_IVa_aa

In [191]:
data_set_IVa_aa_nfo_clab

Empty DataFrame
Columns: [Fp1', AFp1', Fpz', AFp2', Fp2', AF7', AF3', AF4', AF8', FAF5', FAF1', FAF2', FAF6', F7', F5', F3', F1', Fz', F2', F4', F6', F8', FFC7', FFC5', FFC3', FFC1', FFC2', FFC4', FFC6', FFC8', FT9', FT7', FC5', FC3', FC1', FCz', FC2', FC4', FC6', FT8', FT10', CFC7', CFC5', CFC3', CFC1', CFC2', CFC4', CFC6', CFC8', T7', C5', C3', C1', Cz', C2', C4', C6', T8', CCP7', CCP5', CCP3', CCP1', CCP2', CCP4', CCP6', CCP8', TP9', TP7', CP5', CP3', CP1', CPz', CP2', CP4', CP6', TP8', TP10', PCP7', PCP5', PCP3', PCP1', PCP2', PCP4', PCP6', PCP8', P9', P7', P5', P3', P1', Pz', P2', P4', P6', P8', P10', PPO7', PPO5', PPO1', PPO2', ...]
Index: []

[0 rows x 118 columns]

In [193]:
np.shape(data_set_IVa_aa_nfo_ypos)

(117, 1)

In [194]:
data_set_IVa_aa_nfo_ypos[:5]

   0.7544502157
0      0.685270
1      0.769231
2      0.685270
3      0.754450
4      0.710677

In [195]:
np.shape(data_set_IVa_aa_nfo_xpos)

(117, 1)

In [196]:
data_set_IVa_aa_nfo_xpos[:5]

   -0.1500694785
0      -0.075729
1       0.000000
2       0.075729
3       0.150069
4      -0.294372

In [197]:
data_set_IVa_aa_mrk_pos

Empty DataFrame
Columns: [47475, 52820, 69540, 86209, 91798, 97604, 103402, 114460, 120055, 125469, 136491, 147724, 158750, 164526, 175645, 208193, 213660, 241241, 246651, 263240, 268587, 274291, 279911, 285379, 290904, 296249, 302042, 307813, 313281, 318899, 329962, 335449, 341134, 367980, 373596, 379438, 390588, 396364, 418863, 429946, 435536, 441190, 457711, 463318, 479549, 485105, 490678, 496048, 501846, 528340, 539362, 544799, 556103, 561809, 567356, 589526, 595170, 600519, 606284, 612042, 617721, 623272, 628652, 634400, 639845, 650751, 656246, 667782, 679050, 684611, 766826, 772182, 783831, 795070, 806403, 817646, 823064, 828560, 833937, 839469, 850778, 856546, 862011, 867358, 872706, 878322, 889766, 1076768, 1087663, 1093341, 1104875, 1110683, 1116178, 1121645, 1127267, 1143562, 1149239, 1160092, 1165782, 1171277, ...]
Index: []

[0 rows x 280 columns]

In [198]:
data_set_IVa_aa_mrk_className

Empty DataFrame
Columns: [right', foot']
Index: []

In [199]:
data_set_IVa_aa_mrk_y

Empty DataFrame
Columns: [1, 1.1, 2, 1.2, 1.3, 1.4, 2.1, 2.2, 1.5, 2.3, 2.4, 2.5, 2.6, 1.6, 2.7, 1.7, 2.8, 2.9, 1.8, 1.9, 1.10, 1.11, 2.10, 2.11, 1.12, 2.12, 2.13, 1.13, 2.14, 2.15, 2.16, 1.14, 1.15, 1.16, 2.17, 1.17, 2.18, 1.18, 1.19, 1.20, 2.19, 2.20, 2.21, 2.22, 2.23, 1.21, 1.22, 1.23, 1.24, 2.24, 2.25, 2.26, 1.25, 1.26, 1.27, 1.28, 2.27, 2.28, 1.29, 2.29, 2.30, 1.30, 2.31, 1.31, 1.32, 1.33, 2.32, 2.33, 1.34, 2.34, 2.35, 2.36, 1.35, 1.36, 2.37, 1.37, 1.38, 2.38, 1.39, 2.39, 2.40, 1.40, 1.41, 2.41, 2.42, 2.43, 2.44, 2.45, 2.46, 2.47, 1.42, 2.48, 1.43, 2.49, 1.44, 1.45, 1.46, 2.50, 1.47, 2.51, ...]
Index: []

[0 rows x 280 columns]